<h2>About Us</h2>

<p>Happy Cow Photo Booths was born in Irvine, CA. We’re a dedicated team that offers a light-hearted experience with all of our clients and our mission is to create the best memories in all of your special events. We happily service Orange County, Los Angeles, Inland Empire, and surrounding areas. With our classy and trendy look, we fit just right in with all types of events - from sweet sixteens, bar/bat mitzvahs, quinceaneras, corporate, weddings, holiday parties, red carpet events, and more!</p>
