<h2>Contact Us</h2>

<p>We can be reached directly via email or phone.</p>
<p><span class="glyphicon glyphicon-envelope" aria-hidden="true"> Email: <a href="mailto:happycowphotobooths@gmail.com?Subject=Happy Cow Contact Us:">happycowphotobooths@gmail.com</a><br>
<span class="glyphicon glyphicon-earphone" aria-hidden="true"> Office: <a href="tel:949-534-6001">949-534-6001</a></p>
