<div class="jumbotron">
    <h1>Happy Cow Photo Booth</h1>
    <img src="/images/HCPB.jpg" class="displayed img-responsive" style="display:inline;">
    <p class="lead">Don't Forget the Memories</p>
    <p><a class="btn btn-lg btn-success" href="/#/signup" role="button">Sign up today</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Life of The Party</h4>
        <p>A photobooth is the perfect addition to any party.  Everyone loves taking their pictures, and the memories can be saved forever.</p>

        <h4>Events</h4>
        <p>Great for any type of party or gathering: Weddings, Birthdays, Anniversaries, Corporate Events!</p>
    </div>

    <div class="col-lg-6">
        <h4>Memories</h4>
        <p>For those special times that you always want to remembe, there's nothing like a photobooth.</p>

        <h4>All Ages</h4>
        <p>The excitement for everyone, for any age!</p>
    </div>
</div>
