<h2>Information</h2>

<p>The following options are available:</p>

<ul>
    <li>Props included!</li>
    <li>Backdrops available in many colors: rose gold/cream, silver, black, red, etc.</li>
    <li>Customized prints with designs</li>
    <li>Sizes: The classic 2x6” and the popular 4x6” available</li>
    <li>Professional DSLR camera to capture brilliant results</li>
    <li>Long lasting quality and great resolution</li>
    <li>Professional and awesome booth attendant to set-up, greet guests, and handle booth tech</li>
    <li>Early set-up and delivery</li>
</ul>