<h2>Packages</h2>

<p>Competitive pricing and starts off at a minimum of 2 hours for booking!</p>
<p>We know every event is different to your needs so don’t hesitate to reach out as we do our best to make sure that you receive a customized package according to your specifications. Please fill out our <a href="/#/signup">contact form</a> for more information and an appropriate quote for your upcoming event. We will respond within 24 hours.</p>