    <h2>Get a Quote</h2>
    <hr>

    <div class="btn-group btn-group-justified">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Name</span>
            <input type="text" class="form-control" ng-model="name" placeholder="Name" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Email</span>
            <input type="text" class="form-control" ng-model="email" placeholder="example@example.com" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Phone</span>
            <input type="text" class="form-control" ng-model="phone" placeholder="555 555-5555" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Event Type</span>
            <input type="text" class="form-control" ng-model="eventType" placeholder="Ex. Wedding, Birthday" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Event Date</span>
            <input type="text" class="form-control" ng-model="eventDate" placeholder="mm/dd/yyyy" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Event Length</span>
            <input type="text" class="form-control" ng-model="eventLength" placeholder="2,3,4, 5 hours" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Comments</span>
            <textarea type="text" class="form-control" ng-model="comment" placeholder="ex. Loved It!" aria-describedby="basic-addon1" />
        </div>

        <br>
        <div class="input-group">
            <span class="btn btn-primary" ng-click="SaveContact()" >Sign Up!</span>
        </div>

    </div>

    <div ng-show="goodSubmission"   class="posting-response">
        <br>
        <div class="alert alert-success" role="alert">Thank You, We will contact you soon!</div>
    </div>
